<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/list" method="post">
    <input type="text" name="userName"/>
    <input type="submit" value="查询"/>
    <a th:href="@{add}">添加</a>
</form>
<table>
    <tr>
        <th>id</th>
        <th>姓名</th>
        <th>密码</th>
        <th>性别</th>
        <th>出生日期</th>
        <th>联系方式</th>
        <th>角色</th>
    </tr>
    <tr th:each="user :${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.userName}"></td>
        <td th:text="${user.userPassword}"></td>
        <td th:text="${user.gender}"></td>
        <td th:text="${user.birthday}"></td>
        <td th:text="${user.phone}"></td>
        <td th:text="${user.role.roleName}"></td>
    </tr>
</table>
</body>
</html>